.App {
  text-align: center;
  background-image: linear-gradient(#f1c848, #63d8a1);
}


.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  /*Position of Nav*/
  z-index: 20;
  position: sticky;
  top: 0;

  /*Size of Nav*/
  padding: 1.5em 0em;
  width: 100%;


  /*Nav Color*/
  background-color: #FFF;
  opacity: 0.9;
}

nav .logo{
  display: block;
  padding: 0em 1.2em;
  font-size: 2em;


}

.UserDisplay{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.UserDisplay > .UserData{
  text-align:  left;
  padding: 0em 1em 0em 1em;
  display: flex;
  flex-direction: column;
}

nav > .flex-container{
      /*Setting Flex display properties*/
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
  
}

nav .flex-container > ul { 
  
  margin: 0;
  list-style: none;

  margin-right: 40px; 

    /*Setting Flex display properties*/
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;

}

nav .flex-container > ul > li { 
  padding-left: 1em;
  font-size: 1.3em;
  color: #000;
  opacity: 1;

  text-decoration: none;

}

