.App {
  text-align: center;
  background-image: linear-gradient(#f1c848, #63d8a1);
}


.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Campus {
  color: black;
  justify-content: center;
}

.CampusImageCard{
  display: block;
  width: 800px;
  height: 500px;
  padding: 0.4em;
  background-color: #fff;
  box-shadow: 8px 8px rgba(0,0,0,0.3);
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.Center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Container {
  display: table;
  height: 100%;
  width: 80%;
}

.Content {
  margin-top: 2em;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;

}
.Content h1{
  color: black;
  padding-bottom: 1em;
}

.HeaderDivider {
     border-right:1px solid #16222c; 
     height:100px;
     right:51.2%;
     top:48.8%;
     position:absolute;
}

.HomePageLeft{
  color: blue;
  font-size: calc(16px + 3vmin);
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 50%;
  top:80%;
  padding: 1rem;

}

.HomePageRight{
  color: black;
  font-size: calc(16px + 3vmin);
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 50%;
  padding: 1rem;
}

.UserDisplay{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


.UserDisplay .UserData{
  text-align:  left;
  margin: 1em;

  display: flex;
  flex-direction: column;

  padding-left: 2em;
  border-left: 2px solid #fff;
}

.UserData h2{
  margin: 0;
  padding: 0;
}
.UserData p{
  margin: 1em 0.2em;
  padding: 0.3em 0em;
}

.UserData button{
  font-size: 1em;
}
.ImageCard{
  display: block;
  width: 350px;
  height: 400px;
  padding: 0.4em;
  background-color: #fff;
  box-shadow: 8px 8px rgba(0,0,0,0.3);
  margin-right: 2em;
}

.StudentList tr:nth-child(even){background-color: #f2f2f2;}
.StudentList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

nav {
  /*Position of Nav*/
  z-index: 20;
  position: sticky;
  top: 0;

  /*Size of Nav*/
  padding: 1.5em 0em;
  width: 100%;


  /*Nav Color*/
  background-color: #FFF;
  /*box-shadow: 0px 5px rgba(0,0,0,0.3);*/
  opacity: 1;
}

nav .logo{
  display: block;
  padding: 0em 1.2em;
  font-size: 2em;
}

nav a{
  text-decoration: none;
}
nav a:visited{
  color: black;
}

nav > .flex-container{
      /*Setting Flex display properties*/
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
  
}

nav .flex-container > ul { 
  
  margin: 0;
  list-style: none;

  margin-right: 40px; 

    /*Setting Flex display properties*/
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;

}

nav .flex-container > ul > li { 
  padding-left: 1em;
  font-size: 1.3em;
  color: #000;
  opacity: 1;

  text-decoration: none;

}

/*Table Components */


#StudentListing{
  color: black;
  margin: auto;
  border-collapse: collapse;

}

#StudentListing td, #StudentListing th {
  border: 1px solid #ddd;
  padding: 0.5em;
  margin: 0;
}
#StudentListing tr:nth-child(odd){background-color: #FFF;}
#StudentListing tr:nth-child(even){background-color: #f2f2f2;}
#StudentListing tr:hover {background-color: #ddd;}

#StudentListing th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  text-align: center;
}